﻿@model IEnumerable<VotlisClothes.Models.Item>

@{
    ViewBag.Title = "Browse Catalogue Items";
}

<h2>@ViewBag.Title</h2>

<p>
   @Html.ActionLink("Back to Catalogue", "Index") | 
   @Html.ActionLink("Go To Cart", "Index", "Cart")
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Item Name", "Browse", new { sortOrder = ViewBag.NameSortParm, CollectionName = Model.First().CollectionGroup })
        </th>
        <th>
            @Html.ActionLink("Collection Group", "Browse", new { sortOrder = ViewBag.CollectionGroupSortParm, CollectionName = Model.First().CollectionGroup })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.ActionLink("Price", "Browse", new { sortOrder = ViewBag.PriceSortParm, CollectionName = Model.First().CollectionGroup })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Available)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </th>
        <th>
            @Html.ActionLink("Season", "Browse", new { sortOrder = ViewBag.SeasonSortParm, CollectionName = Model.First().CollectionGroup })
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasDiscount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollectionGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            <img src="@item.ImagePath" height="100" width="100">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Available)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QuantityAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeasonId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasDiscount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DiscountPercentage)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Add to cart", "AddToCart", "Cart", new { id = item.Id }, "")
        </td>

    </tr>
}

</table>
