﻿@model IEnumerable<VotlisClothes.Models.CollectionGroup>
<li id="categories">
    @foreach (var collection in Model)
    {
      @Html.ActionLink(collection.Name, "Browse", "Catalogue", new { CollectionName = collection.Name }, null)
    }
    @Html.ActionLink("All Collections", "Index", "Catalogue")
</li>