﻿@model VotlisClothes.Models.Item
@using VotlisClothes.Logic

@{
    ViewBag.Title = "Item Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <h4>Item</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CollectionGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CollectionGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model=> model.ImagePath)
        </dt>

        <dd>
            @Html.Image(Model.ImagePath, null)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Size)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Size)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Available)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Available)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeasonId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeasonId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasDiscount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasDiscount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiscountPercentage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiscountPercentage)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink($"Back to {@Model.Name} Collection", "Browse", "Catalogue", new { CollectionName = Model.CollectionGroup }, null)
  | @Html.ActionLink("Add to cart", "AddToCart", "Cart", new { id = Model.Id }, "")
</p>
