﻿@model IEnumerable<VotlisClothes.Models.CollectionGroup>

@{
    ViewBag.Title = "Browse Our Clothes Collections";
}

<h2>@ViewBag.Title</h2>


@*<table class="table">
    <tr>
        <th>
            Select from @Model.Count() Collections:
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <img src="@item.ImagePath" height="100" width="100">
        </td>
        <td>
            @Html.ActionLink("View Clothes", "Browse", "Catalogue", new { CollectionName = item.Name },null)
        </td>
    </tr>
}

</table>*@
<div class="col-xs-12 col-md-12">
    <div class="row">
        @foreach (var item in Model)
            {
            <div class="col-xs-12 col-md-3">
                <div class="thumbnail">
                    <img src="@item.ImagePath" height="200" width="200">
                    <div class="caption text-center">
                        <p>
                            <b>Name:</b> <span>@item.Name</span>
                        </p>
                        <p class="text-center">
                            @Html.ActionLink("View Clothes", "Browse", "Catalogue", new { CollectionName = item.Name }, new { @class = "btn btn-info" })
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<hr />
<div style="text-align: center;">
   @Html.ActionLink("Go To Cart", "Index", "Cart", new { @class = "btn btn-info" })
</div>

