﻿@model IEnumerable<VotlisClothes.Models.Item>
@{
    ViewBag.Title = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/Pictures/banner8.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Browse our new belt collection here.
                    @Html.ActionLink("Belts", "Browse","Catalogue", new { sortOrder = ViewBag.CollectionGroupSortParm, CollectionName = Model.First().CollectionGroup },new { @class ="btn btn-default"})
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/Pictures/banner12.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Browse our new jeans collection here.
                    @Html.ActionLink("Jeans", "Browse", "Catalogue", new { sortOrder = ViewBag.CollectionGroupSortParm, CollectionName = Model.Last().CollectionGroup }, new { @class = "btn btn-default" })
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/Pictures/banner2m.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Browse our latest collectios here.
                    @Html.ActionLink("Collections", "Index", "Catalogue", null, new { @class = "btn btn-default" })
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/Pictures/banner7.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Browse our latest collectios here.
                    @Html.ActionLink("Collections", "Index", "Catalogue",null, new { @class = "btn btn-default" })
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<h3 style="text-align: center;"><em> Clothing and Fashion </em></h3>
<div class="col-xs-12 col-md-12">
    <div class="row">
        @foreach (var item in Model)
            {
            <div class="col-xs-12 col-md-3">
                <div class="thumbnail">
                    <img src="@item.ImagePath" height="140" width="140">
                    <div class="caption text-center">
                        <p>
                            <b>Name:</b> <span>@item.Name</span>
                        </p>
                        <p>
                            <b>Price:</b> <span>@item.Price Euro</span>
                        </p>
                        <p class="text-center">
                            @Html.ActionLink("Details", "Details", "Catalogue", new { id = item.Id }, new { @class = "btn btn-info" }) 
                            @Html.ActionLink("Add to cart", "AddToCart", "Cart", new { id = item.Id }, new { @class = "btn btn-info" })
                        </p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>