﻿@model IEnumerable<VotlisClothes.ViewModels.RoleViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>User Roles and Authorizations</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Asign Role to User", "RegisterRole", "Role")
</p>
<p>
    @Html.ActionLink("View User Roles", "UserRoles", "Role")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
