﻿@model VotlisClothes.ViewModels.RoleViewModel

@{
    ViewBag.Title = "Register Role";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("RegisterRole", "Role", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Add Role to User</h4>
    <hr/>
    @Html.ValidationSummary("", new {@class = "text-danger" })
    <div class="form-group">
        @Html.Label("Select Role", new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.DropDownList("Name",null,new { @class = "form-control"})
        </div>
    </div>

    <div class="form-group">
        @Html.Label("Select User", new { @class = "col-md-2 control-label"})
        <div class="col-md-10">
            @Html.DropDownList("FullName", null, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}