﻿@model IEnumerable<VotlisClothes.ViewModels.UserRoleViewModel>

@{
    ViewBag.Title = "User Roles Editor";
}
<div class="row">
    <h4>@ViewBag.Title</h4>

    @foreach (var item in Model)
    {
        <p>
            @using (Html.BeginForm("UserRoles", "Role", new { Id = item.Id }))
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <input type="submit" value="Delete User Roles " class="btn btn-default" />
                </div>
            }
            <strong>@Html.DisplayFor(modelItem => item.FullName) | @Html.DisplayFor(modelItem => item.UserName) | @Html.DisplayFor(modelItem => item.Role)</strong>
            <hr />
        </p>
    }
</div>